.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  min-height: 100vh;
  max-height: 100vh;
}

.background-left {
  background-image: url('../../../assets/images/background/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  background: #302e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
  padding: 20px;


}